.main{
max-width: 1280px;
width: 100%;
margin: auto;

}

.mobile_menu{display: none;}
/**********HEADER*********/

ul{
padding: none;
padding-top: 1.5rem;
padding-bottom: .5srem;
padding-left: 0;
margin: 0;
width: 100%;
height: 4rem;
list-style: none;
overflow: hidden;


}

ul li{
padding: .5rem 2rem;
display: inline-block;
border-radius: 3px;

}
ul li a {
margin-top: 50rem;
text-decoration: none;
color: #404040;
opacity: 0.4;
transition: opacity 500ms;
transition: border-radius 250ms;
}

header{   padding-left: 9.5rem; margin: auto;  padding-top 1rem; background-color: #fff;}
#link a:hover{opacity: 1.0; border: 1.8px solid #806f2d;    border-radius: 10px; color: #806f2d; line-spacing: .3em}

#link a{/*background-color: #806f2d;*/ 
    padding: .25rem 2rem;
    border-radius: 1px;
    
    width: 100px; border: 1.8px solid #404040; font-family: 'Open Sans Condensed', sans-serif;  font-size: 1.2em;}
.contact a{
color: #fff;
    background-image: url("images/email-icon.png");
    background-repeat: no-repeat;
    background-position: center;
background-color: #505050;
border-radius: 50%;
}
.contact a:hover{

    color: #fff;
}

/**********BODY***********/
body{ -webkit-font-smoothing: antialiased; margin: 0;
width: 100%;
font-family: 'Roboto', sans-serif;
}

#logo{height: 30rem; width: 46rem; margin: 2em 0 0 17em;
       -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
#clr{background-color: #303030; height: 100%; opacity: 0.8;}
.box{height: 45em; width: 100%; }

#splashPg {background-image: url("images/20150719_094340.jpg"); background-repeat: no-repeat; background-position: center;  background-size: 100% 100%;}

#about{width: 60em;  padding-top: 5rem; margin: auto; margin-bottom: 4rem;}
#aboutCont {
color: #303030;
text-align: center;
}
#train {/*background-color: #B3A580;*/   background-color: #252525; color: #fff;}
#boximg{
float: right;
}

/**********FOOTER*********/
#footer{
height: 15em; 
width: 100%; 
background-color: #303030;
}
footer{margin-right: 4em;}
.copyRight{display: block; float: left; margin: 1rem 0 0 7em; color: #606060; font-size: .8em;}

#icon{
width:2.5em ; height: 2.5em; float: right; margin: .1rem 1em 0 0;
}

/**********GLOBAL*********/
h1{ -webkit-font-smoothing: antialiased; font-family: 'Lobster', cursive;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#linkpg a{
margin-top: .4rem;
padding: .25rem 2rem;
border-radius: 2px;
width: 100px; 
border: 1.8px solid #404040; 
font-family: 'Open Sans Condensed', sans-serif;  
font-size: 1.2em;
text-decoration: none;
color: #404040;
opacity: 0.4;
transition: opacity 500ms;
transition: border-radius 250ms;
}

#linkpg a:hover{
opacity: 1.0; border: 1.8px solid #806f2d;    border-radius: 10px; color: #806f2d; line-spacing: .3em
}


/**************************/

/*#Train{width:25em; height:25em; display:inline-block; border: solid #fff 4px; border-radius: 15px; float: left; margin: 0 0 5px 5px;font-size: .5em; background-color: #404040; transition: 200ms;}*/




.wrapper{width: 100%; height: 45rem;}
#Bkg1{background:url(images/20150711_115937.jpg); background-position: center; }
#Bkg2{background:url(images/20150711_115938.jpg); background-position: center; }
#Bkg3{background:url("images/box3imgsm.jpg"); background-position: center; }
#Bkg4{background:url("images/box4imgsm.jpg"); background-position: center; }
#testCon{ 
    background-color: blue;
float: left;  
display: inline-block;
margin: 0; 
padding-top: 0;
width: 58%; 
height: 45rem; 
text-align: center; 

}

#testCon button{

font-family: 'Open Sans Condensed', sans-serif;
-webkit-font-smoothing: antialiased;
width:22.2rem;
height:22.2rem;
font-size: 1em; 
float: left; 
color: #fff;
opacity: 0.5; 
border: none;
transition: opacity linear 400ms;
 }

#testCon button:hover{opacity: 1.0;}
#name{
text-align: center;
}
#txtwrp{ background-color: red; width:25rem;    margin: auto; color: #fff; font-family: arial; text-align: center; letter-spacing: .1em;}
#section{ display: inline-block; float: left; width: 30rem; height: 41%; padding-top: 5rem; margin-right: 0; margin: auto;}
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: .2px; 
}
.frame{
height: 100%;
padding-left: 14%;
padding-top: .3%;
}

#meal{
float: right;
padding-right: 5%;
padding-left: 5%;
width: 30rem;
height: 100%;
}
ol{margin-left: 0; padding-left: .2rem; border-radius: 15px; background-image: url("images/texture.jpg");}
#meal li{
    padding-top: .3rem;
    text-align: center;
margin: 0;
display: block;
height: 8rem;
color: white;
}

#MW{
padding-top: 3rem;
width: 30rem;
    display: inline-block;
    float: left;
     text-align: center;
    margin-left: 5rem;
}
#Diet{
height: 69.5rem;
margin-top: 4rem;
}

#suppliment{


}

#imcut{
height: 17rem;
background-image:url("images/20150719_094335.jpg");
margin-top: 6rem;
}
#footer ul{
margin-right: 0;
width: 8rem;
opacity: 1.0;
padding-top:.9rem;
padding-left: 4rem;
height: 170px;
}
#footer ul #linkft{
width: 100px;
display: block;
color: #fff;
opacity:1.5;
}

#linkft a{
    opacity:1.5;
    color: #fff;
}
#linkft a:hover{
    opacity:0.4;
    color: #fff;
}
