
/**********HEADER*********/
ul{
padding: none;
padding-top: 1.5rem;
padding-bottom: .5srem;
padding-left: 0;
margin: 0;
width: 100%;
height: 4rem;
list-style: none;
overflow: hidden;


}

ul li{
padding: .5rem 2rem;
display: inline-block;
border-radius: 3px;

}
ul li a {
margin-top: 50rem;
text-decoration: none;
color: #404040;
opacity: 0.4;
transition: opacity 500ms;
transition: border-radius 250ms;
}

header{   padding-left: 9.5rem; margin: auto; width:100%; padding-top 1rem; background-color: #fff;}
#link a:hover{opacity: 1.0; border: 1.8px solid #806f2d;    border-radius: 10px; color: #806f2d; line-spacing: .3em}

#link a{/*background-color: #806f2d;*/ 
    padding: .25rem 2rem;
    border-radius: 1px;
    
    width: 100px; border: 1.8px solid #404040; font-family: 'Open Sans Condensed', sans-serif;  font-size: 1.2em;}
.contact a{
color: #fff;
background-color: #806f2d;
border-radius: 50%;
}


/**********BODY***********/
body{ -webkit-font-smoothing: antialiased; margin: 0;
width: 100%;
font-family: 'Roboto', sans-serif;
}

#logo{height: 30rem; width: 46rem; margin: 2em 0 0 17em;
       -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}
#clr{background-color: #303030; height: 100%; opacity: 0.8;}
.box{height: 45em; width: 100%; }

#splashPg {background-image: url("images/20150719_094340.jpg"); background-repeat: no-repeat; background-position: center;  background-size: 100% 100%;}

#about{width: 60em;  padding-top: 5rem; margin: auto;}
#aboutCont {
color: #303030;
text-align: center;
}
#train {/*background-color: #B3A580;*/   background-color: #252525; color: #fff;}
#boximg{
float: right;
}

/**********FOOTER*********/
#footer{
height: 15em; 
width: 100%; 
background-color: #303030;
}
footer{margin-right: 4em;}
.copyRight{display: block; float: left; margin: 16em 0 0 7em; color: #606060; font-size: .8em;}

#icon{
width:2.5em ; height: 2.5em; float: right; margin: 11.5em 1em 0 0;
}

/**********GLOBAL*********/
h1{ -webkit-font-smoothing: antialiased; font-family: 'Lobster', cursive;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#linkpg a{
padding: .25rem 2rem;
border-radius: 2px;
width: 100px; 
border: 1.8px solid #404040; 
font-family: 'Open Sans Condensed', sans-serif;  
font-size: 1.2em;
text-decoration: none;
color: #404040;
opacity: 0.4;
transition: opacity 500ms;
transition: border-radius 250ms;
}

#linkpg a:hover{
opacity: 1.0; border: 1.8px solid #806f2d;    border-radius: 10px; color: #806f2d; line-spacing: .3em
}


/**************************/

/*#Train{width:25em; height:25em; display:inline-block; border: solid #fff 4px; border-radius: 15px; float: left; margin: 0 0 5px 5px;font-size: .5em; background-color: #404040; transition: 200ms;}*/




.wrapper{width: 100%; height: 80rem;}
#Bkg1{background:url(images/20150711_115937.jpg); background-position: center; }
#Bkg2{background:url(images/20150711_115938.jpg); background-position: center; }
#Bkg3{background:url(028.jpg); background-position: center; }
#Bkg4{background:url(6a010536421793970c0133f2954631970b-800wi.jpg); background-position: center; }
#testCon{ 
display: inline-block;
margin: 0; 
padding-top: 0;
/*background-color: #151515;*/
width: 58%; 
height: 45rem; 
text-align: center; 
overflow: hidden;
}

#testCon button{
font-family: 'Open Sans Condensed', sans-serif;
-webkit-font-smoothing: antialiased;
width:22.2rem;
height:22.2rem;
font-size: 1em; 
float: left; 
color: #fff;
opacity: 0.5; 
border: none;
transition: opacity linear 400ms;
 }

#testCon button:hover{opacity: 1.0;}
#name{
text-align: center;
}
#txtwrp{width:90%; margin: auto;   color: #fff; font-family: arial; text-align: center; letter-spacing: .1em;}
section{margin-top: 200px; float: right; width: 41.8%;  height: 41%; display: block;}
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: .2px; 
}
.frame{
width: 100%;
height: 100%;
padding-left: 14%;
padding-top: .3%;
}